{% extends "base.html" %}

{% block title %} {{ family.fam_name }} {% endblock %}

{% block content %}

<h2 class="text-center">Familiy: {{ family.fam_name }} </h2>

{% if messages %}
<ul class="list-group mt-4 mb-4 messages">
    {% for message in messages %}
    <li class="list-group-item list-group-item-success">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="d-flex d-flex-inline"><span class="pe-2">Number of members:</span>
    <h5>{{ family.nofm }}</h5>
</div>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Attribute</th>
            {% for fly in family.family_name.all %}
            <th scope="co">{{ fly.id }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Name</td>
            {% for fly in family.family_name.all %}
            <td>{{ fly.q_01 }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Date of birth</td>
            {% for fly in family.family_name.all %}
            <td>{{ fly.q_04 }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

<p>
    <a href="{% url 'survey:person_add' %}" role="button" class="btn btn-primary w-100 mt-4 mb-4">Add
        Person</a>
    <a href="{% url 'survey:family_list' %}" role="button" class="btn btn-secondary w-100">Return</a>
</p>


{% endblock content %}