{% extends "base.html" %}

{% block title %} Families {% endblock %}

{% block content %}

<h2 class="text-center">Families</h2>

{% if family_list %}
<ul class="list-group mt-4 mb-4">

    {% for fam in family_list %}
    <li class="list-group-item">
        <a class="text-reset" href="{{ fam.get_absolute_url }}">{{ fam.fam_name }}</a>
    </li>
    {% endfor %}

</ul>
{% else %}
<p>Oops! Nothin's here!</p>
{% endif %}

<p class="pt-2">
    <a href="{% url 'survey:family_add'  %}" role="button" class="btn btn-primary w-100 mt-4 mb-4">Add a family</a>
    <a href="{% url 'survey:survey_home' %}" role="button" class="btn btn-secondary w-100">Return</a>
</p>

{% endblock content %}